@import './base/settings';
@import './base/base';
@import './component/auth';
@import './component/buttons';
@import './component/links';
@import './component/journal';
@import './component/nothing';
@import './component/notes';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 230, 230);
}

button {
  font: inherit;
}
